<div class="footer-wrapper">
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
         <div class="col-xs-6 text-center" style="padding-top: 10px;">
           <h4>Trevor Knott</h4>
           <p>OTHER is OLD ADDRESSS.. <br> now in Denver, CO</p>
           <p>1993 Cataluna dr.<br>Windsor, CO 80550</p>
           <ul class="list-unstyled">
             <li><i class="fa fa-phone fa-fw"></i> (970) 581-3161</li>
             <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:tknott95@hotmail.com">tknott95@hotmail.com</a>
             </li>
           </ul>
         </div>

          <div class="col-xs-6">
            <h3 style="font-family: 'Merriweather', serif;">Links to other profiles!</h3>
            <a href="https://www.linkedin.com/in/trevor-knott-32184269
"><i class="fa fa-linkedin fa-fw fa-5x"></i></a>
            <a href="https://github.com/Tknott95"><i class="fa fa-github fa-fw fa-5x"></i></a>
            <a href="https://trevorknott.wordpress.com/"><i class="fa fa-comments fa-fw fa-5x"></i></a>
            <a href="https://www.linkedin.com/in/trevor-knott-32184269
"><i class="fa fa-linkedin fa-fw fa-5x"></i></a>

            <br>

            <hr class="small">
            <p class="text-muted">Copyright &copy; TrevorKnott 2017</p>
          </div>

        </div>
      </div>
    </div>
  </footer>
</div>