<div class="wrpr col-md-8 col-md-offset-2">

<md-card class="first animated fadeInUp">
	<md-tab-group>
  <md-tab label="CONTACT via. Text">

	<md-card class="animated fadeIn">
    <h1>CONTACT VIA TEXT</h1>
  	<form action="http://ec2-54-153-114-109.us-west-1.compute.amazonaws.com/txt" method="POST">
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="exampleInputUsername">Full Name</label>
					    	<input name="msg-name" type="text" class="form-control" id="" placeholder=" Enter Name">
				  		</div>
				  
					  	<div class="form-group">
					    	<label for="telephone">Phone Number</label>
					    	<input  name="msg-num" type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
			  			</div>
			  		</div>
			  		<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="description"> Message</label>
			  			 	<textarea name="msg-to-trev" class="form-control" id="description" placeholder="Enter Your Message"></textarea>
			  			</div>
			  			<div>

			  				<button  type="submit" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
			  			</div>
			  			
					</div>
				</form>
</md-card>

  </md-tab>
  <md-tab label="CONTACT via. Email">


  <md-card class="animated fadeIn">
    <h1>CONTACT VIA EMAIL</h1>
  	<form action="http://ec2-54-153-114-109.us-west-1.compute.amazonaws.com/email" method="POST">
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="exampleInputUsername">Your name</label>
					    	<input name="mail-author" type="text" class="form-control" id="" placeholder=" Enter Name">
				  		</div>
				  		<div class="form-group">
					    	<label for="exampleInputEmail">Email Address</label>
					    	<input  name="mail-from" type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
					  	</div>	
					  	<div class="form-group">
					    	<label for="telephone">Subject</label>
					    	<input  name="mail-subj" type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
			  			</div>
			  		</div>
			  		<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="description"> Message</label>
			  			 	<textarea name="mail-to-trev"  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
			  			</div>
			  			<div>

			  				<button  type="submit" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
			  			</div>
			  			
					</div>
				</form>
</md-card>

  </md-tab>
</md-tab-group>
</md-card>

<md-card class="animated fadeInLeft">
	  <h4>Many, many jobs aren’t advertised, so if you want to be in with a chance of getting that internal promotion or taking a role outside your company as a step up, you have to network to find out about them. People recommend people they like, so while you might not have met the person you will be working for in the future you might have met one of their contacts <span>who could put you forward for that dream job.</span></h4>

</md-card>
 

</div>


<tk-footer></tk-footer>