<div class="intro-sec">
  <div class="intro-content col-md-8 col-md-offset-2">
    `
    <div class="col-lg-4 col-md-2 col-xs-12 card-hl">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>{{posts[5].Title}}</md-card-title>
          <md-card-subtitle>{{posts[5].Category}}</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="http://localhost:8080/Public/pics/{{posts[5].Image}}">
        <md-card-content>
          <p>
            {{posts[5].Content}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>

    <div class="col-lg-8 col-md-10 hidden-md hidden-sm hidden-xs">
      <h1>TREVOR KNOTT</h1>
      <hr>
      <h4>Hard-working artisan, solitary genius, credentialed professional ... the image of the artist has changed radically over the centuries. Art now expressed through logic spinning off a new era as we know it.
      </h4>
   <md-card class="lang-card hidden-md">
        <h5>golang typscript elixir C# 
        golang typscript elixir C# g
        olang typscript elixir C# 
        golang typscript elixir C#
        golang typscript elixir C#
        golang typscript elixir C#
        golang typscript elixir C#
        golang typscript elixir C#
        golang typscript elixir C#
        golang typscript elixir C#
        golang typscript elixir C#

      </h5>
   </md-card>
    </div>

  </div>
</div>
