md-card {
    margin-top: 100px;
    width: 70%;
    align-content: center;
    align-self: center;
    color: black;
     margin-left: auto;
  margin-right: auto;
  float: none;

  img {
    size: 300px;
  }

    &:hover {
      opacity: .8;
      cursor: pointer;
      box-shadow: 5px;
    }

    p {
      overflow: hidden;
    }
}

.example-card {
  width: 80%;
  
}

.example-header-image {
  background-size: cover;

}

.post-wrpr {
   margin-left: auto;
  margin-right: auto;
  float: none;
}

.blog-intro {
    height: 50%; // if media less then media hit pixels @TODO
    // background-color: black;
    background-image: url('http://img0.liveinternet.ru/images/attach/c/1//50/820/50820173_1257502935_10.jpg');

    .text-center {
        padding-top: 100px;
    }

    h1 {
        color: white;
        font-size: 100px;
        text-shadow: black 5px 5px;
    }
}

