<div class="blog-intro">
  <div class="text-center">
    <h1>BLOG</h1>
  </div>
</div>

<div class="col-md-8 col-md-offset-2">
  <!--<md-card>
  <div class="tk-blog-widget-wrapper" *ngIf="posts.length > 0">
  <md-tab-group>
    <div *ngFor="let post of posts">
    <md-tab label="{{post.Title}}">
            <h5>{{post.ID | json}}</h5>
      <img  src="http://localhost:8080/Public/pics/{{post.Image}}"/>

      <h2>{{post.Content | json}}</h2>
      <hr>
      <h6>{{post.Date | json }}</h6>
    </md-tab>
    </div>
</md-tab-group>
</div>

</md-card>-->


  <div class="col-md-8 col-md-offset-2">

    <!--<md-card>
    <h1>BLOG - Microservice Based</h1>
  </md-card>-->


    <div class="post-wrpr" *ngFor="let p of posts">
      <a target="_blank" href="http://ec2-54-153-114-109.us-west-1.compute.amazonaws.com/Public/pics/{{p.Image}}">

        <md-card class="example-card animated fadeInDown">
          <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>{{p.Title}}</md-card-title>
            <md-card-subtitle>{{p.Catgory}}</md-card-subtitle>
          </md-card-header>
          <img md-card-image src="http://ec2-54-153-114-109.us-west-1.compute.amazonaws.com/Public/pics/{{p.Image}}">
          <md-card-content>
            <p center text-center>
              {{p.Category}} - {{p.Date}} - {{p.Author}}
            </p>

            <p center text-center>
              {{p.Content}}
            </p>

          </md-card-content>

        </md-card>
      </a>
    </div>

  </div>

</div>
