.lang-img-wrapper {
  background-color: rgba(darkgrey, .1);
  height: 225px;
  .row {
    padding-top: 20px;
  }
  p {
    padding-top: 7px;
    color: white;
    opacity: 0.2;
    font-size: 12px;
  }
  .devicons {
    font-size: 180px;
    color: lightcyan;
    opacity: 0.5;
    margin-top: 40px;
    display: block;
    margin: auto;
  }
}
