<div class="lang-img-wrapper">
  <div class="col-md-8 col-md-offset-2">

    <div class="row">
      <div class="col-xs-4 col-sm-3"><i align="center" class="{{logo1}}"></i></div>
      <div class="col-xs-4 col-sm-3"><i align="center" class="{{logo2}}"></i></div>
      <div class="col-xs-4 col-sm-3"><i align="center" class="{{logo4}}"></i></div>
      <div class="hidden-xs col-sm-3"><i align="center" class="{{logo3}}"></i></div>
    </div>
    <span class="col-xs-9"></span>
    <p class="col-xs-3">... and many more!</p>
  </div>
</div>
