    <div class="jumbotron text-center">
  <div class="col-md-12">
    <!--<h1>GET IN TOUCH</h1> 
  <p>Enter your email to begin</p> 
  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Begin Message</button>
      </div>
    </div>
  </form>-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 hidden-md text-center">
                    <h1 class="section-heading">At Your Service</h1>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box animated fadeInUp">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Modern Design</h3>
                        <p class="text-muted">Always keeping up to date with the newest trends.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box animated fadeInUp">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">Within a few weeks you will have a full scale immersive application.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box animated fadeInUp">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box animated fadeInUp">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
  </div>
</div>