.jumbotron {
  background-color: rgba(black, .8); // color: #f4511e;
  color: lightcyan;
  padding: 100px 25px;
  margin-bottom: 0;
  height: 500px;
  h1 {
    font-size: 90px;
    color: black;
    text-shadow: lightcyan 2px 2px;
  }
  img {
    height: 250px;
  }
}

.container-fluid {
  padding: 60px 50px;
}

h3 {
      text-shadow: lightcyan .25px .25px;

}

.bg-grey {
  background-color: #f6f6f6;
}

.logo-small {
  color: lightcyan;
  font-size: 50px;
}

.logo {
  color: lightcyan;
  font-size: 200px;
}

